DATABASE_URL=postgresql://user:password@localhost:5432/journal
NUXT_DATABASE_URL=postgresql://user:password@localhost:5432/journal
NUXT_SESSION_PASSWORD=your-session-password-min-32-characters-long
NUXT_OAUTH_OIDC_CLIENT_ID=
NUXT_OAUTH_OIDC_CLIENT_SECRET=
NUXT_OAUTH_OIDC_OPENID_CONFIG=
NUXT_OAUTH_OIDC_REDIRECT_URL=
